@charset "UTF-8";
/* reset margins, padding, borders & outline. Sets HTML block elements, also includes a couple of bits of normalize.css */
html, body, div, span, applet, object, iframe,
header, hgroup, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, time,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
figure, figcaption, video, audio, img,
fieldset, form, label, legend, input, button, select,
table, caption, tbody, tfoot, thead, tr, th, td,
section, article, canvas, nav, footer, aside,
figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

section, article, aside, footer, nav, header, hgroup, details, figure, figcaption, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

/*Prevents iOS text size adjust after orientation change, without disabling user zoom.*/
html {
  -webkit-text-size-adjust: 100%; }

[hidden] {
  display: none; }

.hide-font {
  color: transparent;
  font-size: 0px;
  text-transform: none;
  text-decoration: none; }

/* set colours, fonts, sizes & breakpoints */
@font-face {
  font-family: "Font Awesome";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Khula";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Khula/Khula-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Khula";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Khula/Khula-SemiBold.ttf") format("truetype"); }

/* HTML ELEMENTS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* headers, paragraphs, lists, formatting etc... */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.9em;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

h1, h2, h3, h4 {
  font-family: "Khula", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 2.34em; }

h2 {
  font-size: 1.98em; }

h3 {
  font-size: 1.71em; }

h4 {
  font-size: 1.44em; }

h5 {
  font-size: 1.26em; }

h6 {
  font-size: 1.08em; }

p {
  margin: 0.9em 0px;
  font-size: 0.9em;
  line-height: 1.8;
  letter-spacing: 0.1em; }

.lede, p.lede {
  font-size: 1.08em; }

.feature-text {
  font-weight: bold;
  font-style: italic; }

strong, b {
  font-weight: bold; }

em, i, dfn, var {
  font-style: italic; }

dfn, abbr, abbr[title], ins, mark {
  border-bottom: 1px dotted; }

small {
  font-size: 84%; }

del {
  text-decoration: line-through; }

kbd, code, samp, pre {
  font-family: monospace;
  font-size: 120%; }

/*Prevents `sub` and `sup` affecting `line-height` in all browsers.*/
sub, sup {
  position: relative;
  font-size: 84%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/*changing direction of text dependent on language*/
[dir="ltr"] bdi {
  direction: rtl;
  unicode-bidi: bidi-override; }

[dir="rtl"] bdi {
  direction: ltr;
  unicode-bidi: bidi-override; }

a {
  display: inline-block;
  border: 1px solid white;
  border-width: 0px 0px 1px;
  font-weight: normal;
  font-size: 0.9em;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: white; }

p a, address a, ul a, ol a, dl a, menu a {
  font-size: 100%; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  border: none;
  font-size: 100%;
  color: white; }

a:hover, a:active, a:visited {
  border-width: 1px 0px 0px; }

a:focus {
  outline: thin dotted; }

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: white; }

ol, ul, dl, menu[type="list"] {
  margin: 1.8em 3.6em; }

ol {
  list-style: lower-roman; }

li, dt, dd {
  font-size: 0.9em;
  line-height: 1.8; }

dt {
  font-weight: bold; }

li, dl > dd {
  margin: 0.9em 0px;
  padding-left: 0.9em; }

address, time {
  display: block;
  margin: 1.8em 0px; }

blockquote {
  margin: 1.8em 1.8em;
  padding: 1.8em 1.8em;
  background-color: rgba(255, 255, 255, 0.5);
  quotes: '"'; }
  blockquote:before {
    float: left;
    content: '“';
    font-size: 2.7em; }
  blockquote:after {
    content: attr(cite);
    display: block;
    font-size: 84%;
    text-align: right; }

pre {
  margin: 1.8em 1.8em;
  padding: 1.8em 1.8em;
  background-color: #4b494b;
  font-size: 100%;
  color: white;
  line-height: 1.8;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }
  pre code {
    background: none; }

/* forms */
form {
  width: 100%; }

@media screen and (min-width: 860px) {
  .form-small {
    width: 50%;
    margin: 0px auto; } }

fieldset {
  margin-bottom: 1.8em; }

legend {
  display: none;
  font-size: 1.26em; }

.form-field {
  width: 100%; }
  @media screen and (min-width: 860px) {
    .form-field {
      width: 48%;
      float: left; }
      .form-field:nth-of-type(2n-1) {
        margin-right: 4%; } }

@media screen and (min-width: 860px) {
  .form-small .form-field {
    width: 100%;
    float: none;
    margin-right: 0px; } }

label, input, select, textarea, button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0.9em 0px 1.8em;
  font-family: "Khula", Helvetica, Arial, sans-serif;
  font-size: 0.9em; }
  @media screen and (max-width: 859px) {
    label, input, select, textarea, button {
      margin: 0.45em 0px 0.9em; } }

/*Addresses Firefox 3+ setting `line-height` on `input` using `!important` in the UA stylesheet.*/
button, input {
  line-height: normal; }

label {
  width: 100%;
  margin-bottom: 0.9em; }
  @media screen and (max-width: 859px) {
    label {
      margin-bottom: 0.45em; } }

input, select, textarea {
  width: 100%;
  padding: 0.45em 0.6em;
  background-color: white;
  border: 3px solid white;
  border-radius: 1px; }

select option {
  padding: 0.9em 1.2em; }

textarea {
  vertical-align: top; }

table input, table select, table textarea {
  margin: 0px; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="range"] {
  margin-bottom: 2.7em; }

.input-radio input {
  width: 10%;
  margin-bottom: 0.9em; }
  @media screen and (max-width: 859px) {
    .input-radio input {
      width: 6%; } }

.input-radio input:last-of-type {
  margin-bottom: 1.8em; }

.input-radio span {
  display: inline-block;
  width: 87%; }
  @media screen and (max-width: 859px) {
    .input-radio span {
      width: 91%;
      font-size: 0.81em; } }

.input-checkbox label {
  float: right;
  width: 91%; }
  @media screen and (max-width: 859px) {
    .input-checkbox label {
      width: 93%; } }

.input-checkbox input {
  width: 8%; }
  @media screen and (max-width: 859px) {
    .input-checkbox input {
      width: 6%; } }

.input-date, .input-colour, .input-number {
  width: 23%;
  margin-right: 2%; }
  @media screen and (max-width: 859px) {
    .input-date, .input-colour, .input-number {
      width: 40%; } }
  @media screen and (max-width: 639px) {
    .input-date, .input-colour, .input-number {
      width: 50%; } }

input[type=color] {
  width: 100px;
  height: 100px; }

.input-range-number {
  width: 100%; }
  .input-range-number input[type="range"] {
    width: 48%;
    margin-right: 1.8em; }
  .input-range-number input[type="number"] {
    width: 10%; }

input[type="submit"], input[type="reset"] {
  width: 30%; }

input[type="reset"] {
  float: left; }

input[type="submit"] {
  float: right; }

input:focus,
select:focus,
textarea:focus {
  border-color: #facbbd; }

.input-required label:after {
  display: inline-block;
  padding-left: 0.9em;
  content: '*'; }

.input-error input,
.input-error select,
.input-error textarea {
  border-color: #facbbd; }

.input-success input,
.input-success select,
.input-success textarea {
  border-color: #94abb4; }

.form-error, .form-success {
  padding: 0.9em 1.8em; }

.form-error {
  border: 2px solid #facbbd;
  color: #facbbd; }

.form-success {
  border: 2px solid #94abb4;
  color: #94abb4; }

/* images, audio, video, canvas etc... */
/*media*/
audio,
video,
img,
.media-feature,
.media-feature audio,
.media-feature video,
.media-feature img {
  width: 100%;
  height: auto; }

figure audio, figure video, figure img {
  margin-bottom: 0.9em; }

figcaption {
  font-style: italic; }

img {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/*Prevents modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices.*/
audio:not([controls]) {
  display: none;
  height: 0; }

.thumbnails ul {
  clear: both;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  list-style: none; }
  .thumbnails ul li {
    margin: 0px;
    padding: 0px; }
  .thumbnails ul li {
    overflow: hidden;
    display: inline-block;
    width: 120px;
    height: 120px; }

.thumbnails img {
  width: auto;
  height: 100%; }

/* UI ELEMENTS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* buttons */
/* navigation and menus */
/* html, body, header, footer & basic main layout */
html {
  background-color: #444679; }

body {
  overflow: auto;
  font-family: "Khula", Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: white; }
  @media screen and (min-width: 1280px) {
    body {
      font-size: 112%; } }
  @media screen and (max-width: 639px) {
    body {
      font-size: 90%; } }
  @media screen and (max-width: 479px) {
    body {
      font-size: 84%; } }

:focus {
  outline: 0; }

.page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 6px solid white; }

.home {
  box-shadow: inset 0px 0px 0px 3px #444679, inset 0px 0px 0px 8px white; }

.portfolio {
  box-shadow: inset 0px 0px 0px 3px #3f9d88, inset 0px 0px 0px 8px white; }

.contact {
  box-shadow: inset 0px 0px 0px 3px #7e7b7f, inset 0px 0px 0px 8px white; }

.page > header,
.page > footer {
  padding: 1.8em 1.8em 0.9em;
  box-sizing: border-box;
  flex: none; }

.page > header {
  overflow: hidden; }
  .page > header > section {
    float: left; }
    .page > header > section h1 {
      margin-bottom: 0px; }
      .page > header > section h1 a {
        font-weight: bold; }
    .page > header > section p {
      margin: 0px; }
  .page > header > nav {
    float: right;
    display: flex;
    justify-content: space-between;
    width: 36%; }
    .page > header > nav a {
      padding: 0.6em 0.9em;
      border-width: 2px;
      background-color: white;
      box-shadow: inset 0px 0px 0px 2px #444679;
      color: #444679;
      text-transform: uppercase;
      font-weight: bold; }
      .page > header > nav a:hover {
        background-color: transparent;
        box-shadow: none;
        color: white; }

.portfolio nav a {
  box-shadow: inset 0px 0px 0px 2px #3f9d88;
  color: #3f9d88; }

.contact nav a {
  box-shadow: inset 0px 0px 0px 2px #7e7b7f;
  color: #7e7b7f; }

.page > footer {
  width: 100%;
  padding: 1.8em 1.8em;
  display: flex;
  justify-content: space-between; }
  .page > footer p, .page > footer ul {
    width: 50%; }
  .page > footer ul {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    list-style: none;
    display: flex;
    justify-content: space-between; }
    .page > footer ul li {
      margin: 0px;
      padding: 0px; }
    .page > footer ul li a {
      border: none; }
      .page > footer ul li a svg {
        width: auto;
        height: 48px;
        padding: 0.9em 0.9em;
        box-sizing: border-box;
        background-color: white;
        border-radius: 2px;
        border: 2px solid white;
        box-shadow: inset 0px 0px 0px 2px #444679; }
        .page > footer ul li a svg path {
          fill: #444679; }

main {
  flex: 1 0 auto;
  box-sizing: border-box;
  margin: 0px 1.8em;
  padding: 1.8em 0px; }

main::after {
  content: '\00a0';
  /* &nbsp; */
  display: block;
  margin-top: 1.8em;
  height: 0px;
  visibility: hidden; }

/*2.2 Main content container*/
/* PAGE LAYOUTS */
main {
  border: 1px solid white;
  border-width: 1px 0px; }

.home {
  background-color: #444679;
  background-image: linear-gradient(0deg, #444679, #565999); }
  .home main p {
    width: 70%; }

.portfolio {
  background-color: #3f9d88;
  background-image: linear-gradient(0deg, #3f9d88, #54bba4); }

.portfolio-list ul {
  display: grid;
  justify-content: end; }

.portfolio-list li {
  width: 6vw;
  height: 6vw;
  position: relative; }
  .portfolio-list li:nth-of-type(1) {
    grid-area: 1 / -1 / 1 / -2; }
  .portfolio-list li:nth-of-type(2) {
    grid-area: 1 / -2 / 1 / -3; }
  .portfolio-list li:nth-of-type(3) {
    grid-area: 1 / -3 / 1 / -4; }
  .portfolio-list li:nth-of-type(4) {
    grid-area: 2 / -2 / 2 / -3; }
  .portfolio-list li:nth-of-type(5) {
    grid-area: 2 / -3 / 2 / -4; }
  .portfolio-list li:nth-of-type(6) {
    grid-area: 3 / -3 / 3 / -4; }
  .portfolio-list li:nth-of-type(7) {
    grid-area: 2 / -4 / 2 / -5; }
  .portfolio-list li img {
    position: absolute;
    left: 0px;
    top: 0px; }

.contact {
  background-color: #7e7b7f;
  background-image: linear-gradient(0deg, #7e7b7f, #979598); }
